<%-include('../partials/head') %>
<%-include('../partials/menu') %>

<body>
    <div class="mt-4 p-5 bg-warning text-white rounded">
        <h1><%= title %></h1>
  </div>
<p>
  CAST Coffee shop was founded on September 25th, by 4 Purdue Indianapolis Students. Our passion for late-night coding marathons fueled our desire to create a coffee shop that offers more than just caffeine. CAST stands for the first letters of our names, but it also represents the way we 'cast' our love for good coffee and chill vibes. Whether you're cramming for finals, dreaming of world domination, or just need a place to escape, CAST Coffee has you covered.

  We believe that coffee is the best debugging tool, so come grab a cup and let’s solve your problems, one espresso shot at a time!
</p>

<%-include('../partials/footer') %>

</body>
</html>