<%-include('../partials/head') %>
<%-include('../partials/menu') %>

<body>
    <div class="mt-4 p-5 bg-warning text-white rounded">
        <h1><%= title %></h1>
  </div>
<p>
</p>

<%-include('../partials/footer') %>

</body>
</html>