<%-include('../partials/head') %>
<%-include('../partials/menu') %>

<body>
    <div class="mt-4 p-5 bg-warning text-white rounded">
        <h1><%= title %></h1>
  </div>
<p>
  Thank you for visting our website, we hope it was easy to use and appealing to look at :)!

  For orders please contact the shops owners, Tania, Ana, Stefany and Cidney. We look forward to talking to you!

  
</p>

<%-include('../partials/footer') %>

</body>
</html>